@import './variables.scss';
@import './fonts.scss';

.component-activity-card {
    background-color: transparent;
   //background: linear-gradient(95.65deg, #90EE90 -107.47%, #5DAF8A -35.41%, #0F4C81 89.57%);

    color: white;
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 2px;
    height: 160px;
    width: 100%;
    margin: 10px 30px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 2px solid $color_outline;
    border-radius: 16px;
    transition: all 1s;
    min-width: 120px;

    &:hover {
        cursor: pointer;
        transition: all 1s;
        border-color: $color_orange;
        box-shadow: 0px 4px 50px 0px $color_orange;
    }

    @media (max-width: 768px) {
        max-width: 80%;
        margin: 20px 0;
    }
}