@import './variables.scss';
@import './fonts.scss';

.explore-button {
    //background: linear-gradient(90deg, #5CAD8A 10%, #0F4C81 90%);
    //box-shadow: 0px 4px 30px 0px #0F4C8180;
    background-color: transparent;
    width: 300px;
    height: 60px;
    border-radius: 30px;
    border: 2px solid white;
    color: white;
    font-size: 22px;
    cursor: pointer;
    font-family: 'Overpass', sans-serif;
    letter-spacing: 1px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 5%;
    transition: all 1s;
    padding-top: 6px;
    opacity: 0;
    animation: fadeInAnimation ease 1s;
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    &:hover {
        transition: all 1s;
        border-color: $color_orange;
        box-shadow: 0px 4px 30px 0px $color_orange;
    }

    @media (max-width: 768px) {
        font-size: 18px;
        height: 50px;
        width: 220px;
        position: relative;
        margin: 40px 0;
    }

    @media (max-height: 900px) {
        position: relative;
        margin: 40px 0;
    }
}

.theme-button {
    padding-right: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    button { 
        background-color: white;
        width: 70px;
        height: 30px;
        border-radius: 20px;
        border: 2px solid white;
        color: white;
        cursor: pointer;
        transition: all 1s;

        &:focus {
            outline: none;
            border: none;
        }

        .circle {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin-left: 0;
            background-color: $color_primary;
            transition: all 1s;
        }
    }

    .text {
        color: white;
        font-family: 'Overpass', sans-serif;
        padding-top: 4px;
        letter-spacing: 1px;
    }

    &.light-button {
        .circle {
            background-color: #FF8552;
            margin-left: calc(100% - 20px);
            transition: all 1s;

            @media (max-width: 768px) {
                margin-left: calc(100% - 14px);
            }
        }

        .text {
            color: white;
        }
    }

    @media (max-width: 768px) {
        button {
            width: 50px;
            height: 20px;

            .circle {
                width: 14px;
                height: 14px;
            }
        }
    }
}

.back-button {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50px;
    top: calc(50% - 15px); 
    border: none;
    color: white;
    font-size: 18px;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Overpass', sans-serif;
    letter-spacing: 1px;
    padding: 0;
    transition: all 1s;

    span {
        padding-top: 2px;
    }

    svg {
        path {
            transition: all 1s;
            fill: white;
        }
    }
    
/*     &:hover {
        transition: all 1s;
        color: $color_orange;

        svg {
            path {
                transition: all 1s;
                fill: $color_orange;
            }
        }
    } */

    @media (max-width: 768px) {
        top: 20px;
        justify-content: start;
        padding-left: 50px;
        left: 0;
    }

    @media (max-width: 990px) and (orientation: landscape) {
        top: 20px;
        justify-content: start;
        padding-left: 50px;
        left: 0;
    }
}

.header {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;

    .home-button {
        font-family: 'Futura Bold';
        font-size: 36px;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        border: none;
        color: white;
        padding-left: 60px;
    }

    @media (max-width: 768px) {
        position: relative;
        padding-top: 70px;
    }

    @media (max-width: 990px) and (orientation: landscape) {
        position: relative;
        padding-top: 70px;
    }
}

//CAROUSEL STYLING

.seperator {
    width: 100%;
}

.controls-wrapper {
    width: 100%;
}

.carousel-wrapper {
    width: 100%;
}

.rec-arrow {
    background-color: transparent;
    box-shadow: none;
    color: white;

    &:enabled { 
        &:hover {
            color: $color_orange !important;
        }
    }

    &:enabled {
        background-color: transparent !important;
        box-shadow: none !important;
        color: white !important;
    }

    &:disabled {
        //color: $color_grey;
        opacity: 0.6;
        background-color: transparent;
        box-shadow: none;
        cursor: default !important;
    }

    @media (max-width: 768px) {
        display: none;
    }
}

.rec-dot {
    box-shadow: white 0px 0px 1px 2px !important;

    &:hover {
        box-shadow: white 0px 0px 1px 2px !important;
        transform: scale(1.2) !important;
    }

    &:focus {
        box-shadow: white 0px 0px 1px 2px !important;
    }

    &_active {
        background-color: white !important;
        box-shadow: white 0px 0px 1px 2px !important;
    }

 
}

h3 {
    font-size: 18px;
    color: white;
    text-align: start;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400 !important;
}

h2 {
    font-weight: 400 !important;

    @media (max-width: 768px) {
        font-size: 18px !important;
    }
}

p {
    color: white;
    font-size: 16px;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}