@import './variables.scss';
@import './fonts.scss';

.explore-button {
    //background: linear-gradient(90deg, #5CAD8A 10%, #0F4C81 90%);
    //box-shadow: 0px 4px 30px 0px #0F4C8180;
    background-color: transparent;
    width: 330px;
    height: 70px;
    border-radius: 30px;
    border: 2px solid white;
    color: white;
    font-size: 24px;
    cursor: pointer;
    font-family: 'Overpass', sans-serif;
    letter-spacing: 1px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 6%;
    transition: all 1s;

    &:hover {
        transition: all 1s;
        border-color: $color_orange;
        box-shadow: 0px 4px 30px 0px $color_orange;
    }

    @media (max-width: 768px) {
        font-size: 18px;
        height: 50px;
        width: 220px;
        position: relative;
        margin: 40px 0;
    }

    @media (max-height: 900px) {
        position: relative;
        margin: 40px 0;
    }
}

.back-button {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50px;
    top: 30px;
    border: none;
    color: white;
    font-size: 18px;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Overpass', sans-serif;
    letter-spacing: 1px;
    padding: 0;
    transition: all 1s;

    span {
        padding-top: 2px;
    }

    svg {
        path {
            transition: all 1s;
            fill: white;
        }
    }
    
    &:hover {
        transition: all 1s;
        color: $color_orange;

        svg {
            path {
                transition: all 1s;
                fill: $color_orange;
            }
        }
    }

    @media (max-width: 768px) {
        left: 20px;
    }
}

//CAROUSEL STYLING

.seperator {
    width: 100%;
}

.controls-wrapper {
    width: 100%;
}

.carousel-wrapper {
    width: 100%;
}

.rec-arrow {
    background-color: transparent;
    box-shadow: none;
    color: white;

    &:enabled { 
        &:hover {
            color: $color_orange !important;
        }
    }

    &:enabled {
        background-color: transparent !important;
        box-shadow: none !important;
        color: white !important;
    }

    &:disabled {
        //color: $color_grey;
        opacity: 0.6;
        background-color: transparent;
        box-shadow: none;
        cursor: default !important;
    }

    @media (max-width: 768px) {
        display: none;
    }
}

.rec-dot {
    box-shadow: white 0px 0px 1px 2px !important;

    &:hover {
        box-shadow: white 0px 0px 1px 2px !important;
        transform: scale(1.2) !important;
    }

    &:focus {
        box-shadow: white 0px 0px 1px 2px !important;
    }

    &_active {
        background-color: white !important;
        box-shadow: white 0px 0px 1px 2px !important;
    }

 
}

h3 {
    font-size: 18px;
    color: white;
    text-align: start;
    font-family: 'Montserrat', sans-serif;
}