@font-face {
    font-family: 'LuckiestGuy';
    src: url('../fonts/LuckiestGuy-Regular.eot');
    src: url('../fonts/LuckiestGuy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LuckiestGuy-Regular.woff2') format('woff2'),
        url('../fonts/LuckiestGuy-Regular.woff') format('woff'),
        url('../fonts/LuckiestGuy-Regular.ttf') format('truetype'),
        url('../fonts/LuckiestGuy-Regular.svg#LuckiestGuy-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaBT-Medium.eot');
    src: url('../fonts/FuturaBT-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaBT-Medium.woff2') format('woff2'),
        url('../fonts/FuturaBT-Medium.woff') format('woff'),
        url('../fonts/FuturaBT-Medium.ttf') format('truetype'),
        url('../fonts/FuturaBT-Medium.svg#FuturaBT-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Book';
    src: url('../fonts/FuturaBT-Book.eot');
    src: url('../fonts/FuturaBT-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaBT-Book.woff2') format('woff2'),
        url('../fonts/FuturaBT-Book.woff') format('woff'),
        url('../fonts/FuturaBT-Book.ttf') format('truetype'),
        url('../fonts/FuturaBT-Book.svg#FuturaBT-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Light';
    src: url('../fonts/FuturaBT-Light.eot');
    src: url('../fonts/FuturaBT-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaBT-Light.woff2') format('woff2'),
        url('../fonts/FuturaBT-Light.woff') format('woff'),
        url('../fonts/FuturaBT-Light.ttf') format('truetype'),
        url('../fonts/FuturaBT-Light.svg#FuturaBT-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Bold';
    src: url('../fonts/Futura-Bold.eot');
    src: url('../fonts/Futura-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Futura-Bold.woff2') format('woff2'),
        url('../fonts/Futura-Bold.woff') format('woff'),
        url('../fonts/Futura-Bold.ttf') format('truetype'),
        url('../fonts/Futura-Bold.svg#Futura-Bold') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Thin';
    src: url('../fonts/Montserrat-Thin.eot');
    src: url('../fonts/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Thin.woff2') format('woff2'),
        url('../fonts/Montserrat-Thin.woff') format('woff'),
        url('../fonts/Montserrat-Thin.ttf') format('truetype'),
        url('../fonts/Montserrat-Thin.svg#Montserrat-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url('../fonts/Montserrat-Medium.eot');
    src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff'),
        url('../fonts/Montserrat-Medium.ttf') format('truetype'),
        url('../fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('../fonts/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff'),
        url('../fonts/Montserrat-Bold.ttf') format('truetype'),
        url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff'),
        url('../fonts/Montserrat-Regular.ttf') format('truetype'),
        url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass';
    src: url('../fonts/Overpass-Regular.woff2') format('woff2'),
        url('../fonts/Overpass-Regular.woff') format('woff'),
        url('../fonts/Overpass-Regular.svg#Overpass-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass Black';
    src: url('../fonts/Overpass-Black.woff2') format('woff2'),
        url('../fonts/Overpass-Black.woff') format('woff'),
        url('../fonts/Overpass-Black.svg#Overpass-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass Bold';
    src: url('../fonts/Overpass-Bold.woff2') format('woff2'),
        url('../fonts/Overpass-Bold.woff') format('woff'),
        url('../fonts/Overpass-Bold.svg#Overpass-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass Light';
    src: url('../fonts/Overpass-Light.woff2') format('woff2'),
        url('../fonts/Overpass-Light.woff') format('woff'),
        url('../fonts/Overpass-Light.svg#Overpass-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass ExtraLight';
    src: url('../fonts/Overpass-ExtraLight.woff2') format('woff2'),
        url('../fonts/Overpass-ExtraLight.woff') format('woff'),
        url('../fonts/Overpass-ExtraLight.svg#Overpass-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass ExtraBold';
    src: url('../fonts/Overpass-ExtraBold.woff2') format('woff2'),
        url('../fonts/Overpass-ExtraBold.woff') format('woff'),
        url('../fonts/Overpass-ExtraBold.svg#Overpass-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass Thin';
    src: url('../fonts/Overpass-Thin.woff2') format('woff2'),
        url('../fonts/Overpass-Thin.woff') format('woff'),
        url('../fonts/Overpass-Thin.svg#Overpass-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass SemiBold';
    src: url('../fonts/Overpass-SemiBold.woff2') format('woff2'),
        url('../fonts/Overpass-SemiBold.woff') format('woff'),
        url('../fonts/Overpass-SemiBold.svg#Overpass-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass Medium';
    src: url('../fonts/Overpass-Medium.woff2') format('woff2'),
        url('../fonts/Overpass-Medium.woff') format('woff'),
        url('../fonts/Overpass-Medium.svg#Overpass-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

