@import './variables.scss';
@import './fonts.scss';

.component-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 100%;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 16px;
  color: #fff;
  margin: 35px;
  font-size: 4em;
  transition: all 1s;

  &:hover {
    cursor: pointer;
    transition: all 1s;
    border-color: $color_orange;
    box-shadow: 0px 4px 30px 10px $color_orange;
  }

  @media (max-width: 768px) {
    height: 200px;
    margin: 35px 6px;
  }
}