@import './variables.scss';
@import './fonts.scss';

.component-item {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 100%;
  background-color: $color_primary;
  color: #fff;
  margin: 35px;
  font-size: 4em;

  &:hover {
    cursor: pointer;
    transition: all 1s;
    box-shadow: 0px 4px 30px 10px $color_orange;
    }
}