@import './common.scss';

body {
    &.light-mode {
        .component-app {
            background: linear-gradient(72.89deg, #FF8552 0%, #FF8552 0%, #E6F8B2 102.67%, #E6F8B2 104.85%);
        }

        .component-recommendations {
            background: linear-gradient(72.89deg, #FF8552 0%, #FF8552 0%, #E6F8B2 102.67%, #E6F8B2 104.85%);
        }

        .dayboost-container,
        .mindfulness-container,
        .reflection-container,
        .peersupport-container,
        .university-container,
        .focusmusic-container {
            background: linear-gradient(179.54deg, #FF8552 -18.95%, #FF8552 -18.95%, #E6F8B2 177.51%);
        }

        .component-activity-card {
            &:hover {
                cursor: pointer;
                transition: all 1s;
                border-color: $color_light_green;
                box-shadow: 0px 4px 50px 0px $color_light_green;
            }
        }

        .component-item {
            .video-container { 
                @media (min-width: 768px) {
                    &:hover {
                        cursor: pointer;
                        transition: all 1s;
                        border-color: $color_light_green;
                        box-shadow: 0px 4px 30px 10px $color_light_green;
                
                        .circle {
                        transition: all 1s;
                        border-color: $color_light_green;
                        box-shadow: 0px 4px 30px 10px $color_light_green;
                        }
                
                        .triangle {
                        transition: all 1s;
                        border-left: 40px solid $color_light_green;
                        }
                    }
                }
            }
        }

        .rec-arrow {
            &:enabled { 
                &:hover {
                    color: $color_light_green !important;
                }
            }
        }

        .explore-button {
            &:hover {
                transition: all 1s;
                border-color: $color_light_green;
                box-shadow: 0px 4px 30px 0px $color_light_green;
            }
        }

        .chat {
            &:hover {
                transition: all 1s;
                border-color: $color_light_green !important;
                box-shadow: 0px 4px 30px 0px $color_light_green !important;
            }
        }

        .resource {
            &:hover {
                transition: all 1s;
                border-color: $color_light_green !important;
                box-shadow: 0px 4px 30px 0px $color_light_green !important;
            }
        }
    }
}