@import './variables.scss';
@import './fonts.scss';

.mindfulness-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
   // background: $color_light;

    .container {
        max-width: 60vw;
        height: inherit;
        margin: 0 auto;

        h1 {
            font-size: 64px;
            font-family: 'Montserrat', sans-serif;
            color: white;
        }

        h2 {
            font-size: 32px;
            color: $color_primary;
            text-align: start;
            font-family: 'Montserrat Medium', sans-serif;
        }
    }

    //CAROUSEL STYLING

    .seperator {
        width: 100%;
    }
    
    .controls-wrapper {
        width: 100%;
    }
    
    .carousel-wrapper {
        width: 100%;
    }

    .rec-arrow {
        background-color: transparent;
        box-shadow: none;
        color: $color_primary;

        &:enabled { 
            &:hover {
                color: $color_orange !important;
            }
        }

        &:enabled {
            background-color: transparent !important;
            box-shadow: none !important;
            color: $color_primary !important;
        }

        &:disabled {
            color: $color_grey;
            cursor: default;
        }
    }
    
    .rec-dot {
        box-shadow: $color_primary 0px 0px 1px 2px;

        &:hover {
            box-shadow: $color_primary 0px 0px 1px 2px;
            transform: scale(1.2);
        }

        &:focus {
            box-shadow: $color_primary 0px 0px 1px 2px;
        }

        &_active {
            background-color: $color_primary;
            box-shadow: $color_primary 0px 0px 1px 2px;
        }

     
    }

}