@import './variables.scss';
@import './fonts.scss';
@import './common.scss';

.mindfulness-container {
    background: linear-gradient(179.14deg, #0F4C81 3.38%, #5CAD8A 63.08%, #FFB347 131.35%);
    min-height: 100vh;

    @media (max-width: 768px) {
        height: 100%;
        overflow: auto;
    }

    @media (min-width: 769px) {
        overflow: auto;
    }
    
    .container {
        max-width: 60vw;
        height: inherit;
        margin: 8rem auto 0;

        @media (max-width: 768px) {
            margin-top: 60px;
            max-width: 70vw;
        }

        h1 {
            font-size: 40px;
            font-family: 'LuckiestGuy', sans-serif;
            font-weight: 400;
            letter-spacing: 2px;
            color: white;

            @media (max-width: 768px) {
                font-size: 28px;
            }
        }

        h2 {
            font-size: 24px;

            color: white;
            text-align: start;
            font-family: 'Montserrat', sans-serif;


            .mood-text {
                font-style: italic;
                font-weight: 800;
                padding-right: 6px;
                letter-spacing: 1px;
            }

            @media (max-width: 768px) {
                font-size: 18px;
            }
        }

        .text {
            text-align: left;
            margin-bottom: 5rem;
            

            @media (min-width: 990px) {
                font-size: 20px;
                margin-right: 10rem;
            }
        }
    }

}