@import './variables.scss';
@import './fonts.scss';
@import './common.scss';

.mindfulness-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
   // background: $color_light;
   //background: linear-gradient(269.66deg, #0F4C81 -13.53%, #5CAD8A 39.95%, #FFB347 119.05%);
   background: linear-gradient(179.14deg, #0F4C81 3.38%, #5CAD8A 63.08%, #FFB347 131.35%);

    .container {
        max-width: 60vw;
        height: inherit;
        margin: 0 auto;

        h1 {
            font-size: 48px;
            font-family: 'Montserrat', sans-serif;
            color: white;
        }

        h2 {
            font-size: 26px;
            color: white;
            text-align: start;
            font-family: 'Montserrat', sans-serif;

            .mood-text {
                font-style: italic;
                font-weight: 800;
                padding-right: 6px;
            }
        }
    }

}