@import './variables.scss';
@import './fonts.scss';
@import './common.scss';

.peersupport-container {
    background: linear-gradient(179.14deg, #0F4C81 3.38%, #5CAD8A 63.08%, #FFB347 131.35%);
    min-height: 100vh;

    @media (max-width: 768px) {
        height: 100%;
        overflow: auto;
    }

    @media (min-width: 769px) {
        overflow: auto;
    }

    .container {
        max-width: 60vw;
        height: inherit;
        margin: 0 auto;

        @media (max-width: 768px) {
            margin-top: 80px;
            max-width: 70vw;
        }

        h1 {
            font-size: 48px;
            font-family: 'Montserrat', sans-serif;
            color: white;

            @media (max-width: 768px) {
                font-size: 28px;
            }
        }

        h2 {
            font-size: 26px;
            color: white;
            text-align: start;
            font-family: 'Montserrat', sans-serif;

            @media (max-width: 768px) {
                font-size: 18px;
            }
        }

        .recommended-chats,
        .other-chats {
            display: flex;
            flex-direction: row;

            @media (max-width: 768px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .chat {
                background-color: transparent;
                color: white;
                font-family: "Overpass", sans-serif;
                font-weight: 600;
                font-size: 16px;
                letter-spacing: 2px;
                height: 80px;
                margin: 10px 30px 0 0;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 20px;
                border: 2px solid white;
                border-radius: 16px;
                transition: all 1s;
                min-width: 120px;
                width: 50%;
                max-width: 540px;
                cursor: pointer;

                a {
                    outline: none;
                    text-decoration: none;
                    color: white;
                }

                p {
                    span {
                        font-family: 'Montserrat Thin', sans-serif;
                        font-size: 14px;
                    }
                }

                &:hover {
                    transition: all 1s;
                    border-color: $color_orange;
                    box-shadow: 0px 4px 30px 0px $color_orange;
                }

                @media (max-width: 768px) {
                    margin: 10px 0 0 0;
                    width: 70%;

                    &:not(:first-child) {
                        margin: 30px 0 0 0;
                    }
                }
            }
        }

        .recommended-chats {
            justify-content: center;

            .chat {
                max-width: 400px;
                height: 120px;
                font-size: 24px;

                p {
                    line-height: 1;

                    span {
                        font-size: 22px;
                    }
                }
            }
        }
    }
}