@import './variables.scss';
@import './fonts.scss';

.component-recommendations { 
    height: 100vh;
    background: linear-gradient(269.68deg, #105189 22.28%, #44886B 80.59%, #FFB347 107.67%);

    @media (max-width: 768px) {
        height: 100%;
        padding-bottom: 100px;
    }

    .bg-container {
        background: url('../images/background_options.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        position: absolute;
        left: -80px;
        width: 36%; 
        z-index: -1;
       // transform: scale(1.6);
        //animation-name: bg-change;
        //animation-duration: 5s;
        //width: 100vw;
        //animation-fill-mode: forwards;  
    }

    @keyframes bg-change {
        from {width: 100%; z-index: 2;}
        to {width: 36%; z-index: -1; transform: scale(1);}
    }

    img {
        max-width: 1000px;
        position: absolute;
        left: -300px;
        top: -100px;
        bottom: 0;
    }

    .container {
        max-width: 80vw;
        height: inherit;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;

        @media (max-width: 768px) {
            flex-direction: column;
            max-width: 70vw;
        }

        .col-left {
            width: 40%;

            @media (max-width: 768px) {
                width: 100%;
            }
        }
        .col-right {
            width: 60%;

            @media (max-width: 768px) {
                width: 100%;
            }
        }

        .title-text {
            font-size: 76px;
            color: white;
            font-family: 'Overpass', sans-serif;
            position: relative;
            z-index: 2;
            text-align: start;
            font-weight: 400;

            &.explore-text {
                font-size: 36px;

                @media (max-width: 768px) {
                    font-size: 28px;
                }

                span {
                    //font-weight: 800;
                    font-style: italic;
                    cursor: pointer;
                    padding: 0 2px;
                    text-decoration: underline;

                    /* background: linear-gradient(
                        to right,
                        #fff 20%,
                        $color_orange 80%
                    );

                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    text-fill-color: transparent;
                    background-size: 500% auto;
                    animation: textShine 8s ease-in-out infinite alternate; */
                }

                @keyframes textShine {
                    0% {
                        background-position: 0% 50%;
                    }
                    100% {
                        background-position: 100% 50%;
                    }
                }
            }

            @media (max-width: 768px) {
                font-size: 56px;
                line-height: 1;
                margin-top: 5rem;
            }
        }

        h2 {
            color: white;
            font-family: 'Overpass', sans-serif;
            font-weight: 300;
            text-align: start;
            font-size: 28px;

            &.padding-top {
                padding-top: 20px;
            }
        }

        .mood-text {
            font-style: italic;
            font-weight: 600;
            padding: 0 6px;
        }

        .resources-container,
        .activities-container {
            display: flex;

            @media (max-width: 768px) {
                flex-direction: column;
                align-items: center;
            }
        }
    }

    @media (min-width: 1200px) and (min-height: 900px) {
        overflow-y: hidden;
    }
}