@import './variables.scss';
@import './fonts.scss';
@import './common.scss';

.reflection-container {
    background: linear-gradient(179.14deg, #0F4C81 3.38%, #5CAD8A 63.08%, #FFB347 131.35%);
    min-height: 100vh;

    @media (max-width: 768px) {
        height: 100%;
        overflow: auto;
    }

    @media (min-width: 769px) {
        overflow: auto;
    }

    .container {
        max-width: 60vw;
        height: inherit;
        margin: 30px auto 0;

        @media (max-width: 768px) {
            margin-top: 60px;
            max-width: 70vw;
        }

        h1 {
            font-size: 40px;
            font-family: 'LuckiestGuy', sans-serif;
            font-weight: 400;
            letter-spacing: 2px;
            color: white;

            @media (max-width: 768px) {
                font-size: 32px;
            }

            @media (min-width: 1600px) {
                margin: 0 20rem;
            }
        }

        h2 {
            font-size: 22px;
            color: white;
            text-align: start;
            font-family: 'Montserrat', sans-serif;

            .mood-text {
                font-style: italic;
                font-weight: 800;
                padding-right: 6px;
            }

            @media (max-width: 768px) {
                font-size: 18px;
            }
        }

        .text-area-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            fieldset {
                width: 90%;
                border: 2px solid white;
                border-radius: 16px;
                text-align: start;
                padding-left: 30px;
                color: white;
                font-family: 'Montserrat Medium', sans-serif;
                font-size: 24px;
                //background-color: rgba(255, 255, 255, 0.3);

                @media (max-width: 768px) {
                    legend {
                        font-size: 16px;
                    }
                }
            }

            textarea {
                width: 100%;
                outline: none;
                border: none;
                background-color: transparent;
                color: white;
                resize: none; 

                @media (min-width: 768px) {
                    font-size: 16px;
                }
            }
        }

        .save-button {
            margin-top: 30px;
            background-color: transparent;
            border-radius: 10px;
            border: 2px solid white;
            color: white;
            font-size: 16px;
            cursor: pointer;
            font-family: 'Overpass', sans-serif;
            letter-spacing: 1px;
            padding: 10px 16px;
            margin-right: 10px;
            align-self: flex-end;
        }
    }
    .react-tooltip {
        background-color: $color_primary;
        color: white;
        font-family: 'Montserrat Medium', sans-serif;
        border-radius: 4px;
    }
}